<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>reset password</title>
    <link rel="stylesheet" href="/resetPassword/style.css" />
  </head>
  <body>
    <div class="container">
      <h1>Enter new password</h1>
      <form id="myform" action="" method="POST">
        <label>Password</label>
        <input type="password" placeholder="Password" id="psw" required />
        <input
          type="password"
          placeholder="Confirm Password"
          id="cnf-psw"
          required
        />
        <button type="submit" id="btn">change-password</button>
      </form>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/resetPassword/resindex.js"></script>
  </body>
</html>
